h1{
    color: rgb(38, 4, 236);
    background-color: rgb(14, 15, 15);
    

}
footer{

    background-color: rgb(250, 245, 245);

}
body{
    background-color: rgb(15, 12, 12);
    text-align: center;
}
img{
    width: 700px;
}
