h1{
    color: rgb(38, 4, 236);
    background-color: rgb(237, 235, 241);
    

}
footer{

    background-color: rgb(250, 245, 245);

}
body{
    background-color: rgb(106, 27, 243);
    text-align: center;
    
}
img{
    width: 600px;
}
